html,
body {
  font-size: 16px;
  color: #333333; }

body {
  background: url("../img/background.jpg"); }

.btn-github {
  background: #333333;
  border-color: #111111;
  color: #ffffff; }
  .btn-github:hover {
    background: #222222;
    color: #ffffff; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  background: rgba(255, 255, 255, 0.5); }
  header h5 a {
    color: #333333; }
    header h5 a:hover, header h5 a:focus {
      color: #333333; }

body > .flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.notifications {
  background: rgba(255, 255, 255, 0.5);
  margin-top: 50px;
  text-align: center;
  display: none; }
  .notifications h2 {
    font-family: 'Alfa Slab One', sans-serif;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 20px; }

.simon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 300px; }
  @media screen and (min-width: 500px) {
    .simon {
      width: 450px; } }
  @media screen and (min-width: 768px) {
    .simon {
      width: 600px; } }
  .simon .top-buttons,
  .simon .bottom-buttons {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .simon .simon-green,
  .simon .simon-red,
  .simon .simon-yellow,
  .simon .simon-blue {
    border: solid #222222;
    width: 150px;
    height: 150px; }
    @media screen and (min-width: 500px) {
      .simon .simon-green,
      .simon .simon-red,
      .simon .simon-yellow,
      .simon .simon-blue {
        width: 225px;
        height: 225px; } }
    @media screen and (min-width: 768px) {
      .simon .simon-green,
      .simon .simon-red,
      .simon .simon-yellow,
      .simon .simon-blue {
        width: 300px;
        height: 300px; } }
    .simon .simon-green:hover, .simon .simon-green:focus,
    .simon .simon-red:hover,
    .simon .simon-red:focus,
    .simon .simon-yellow:hover,
    .simon .simon-yellow:focus,
    .simon .simon-blue:hover,
    .simon .simon-blue:focus {
      cursor: pointer; }
  .simon .simon-green {
    background: #49d759;
    border-top-left-radius: 100%;
    border-width: 6px 3px 3px 6px; }
    @media screen and (min-width: 500px) {
      .simon .simon-green {
        border-width: 10px 5px 5px 10px; } }
    .simon .simon-green:focus, .simon .simon-green.highlight {
      background: #88e592; }
  .simon .simon-red {
    background: #f6321a;
    border-top-right-radius: 100%;
    border-width: 6px 6px 3px 3px; }
    @media screen and (min-width: 500px) {
      .simon .simon-red {
        border-width: 10px 10px 5px 5px; } }
    .simon .simon-red:focus, .simon .simon-red.highlight {
      background: #f97464; }
  .simon .simon-yellow {
    background: #fff732;
    border-bottom-left-radius: 100%;
    border-width: 3px 3px 6px 6px; }
    @media screen and (min-width: 500px) {
      .simon .simon-yellow {
        border-width: 5px 5px 10px 10px; } }
    .simon .simon-yellow:focus, .simon .simon-yellow.highlight {
      background: #fffa7f; }
  .simon .simon-blue {
    background: #019be9;
    border-bottom-right-radius: 100%;
    border-width: 3px 6px 6px 3px; }
    @media screen and (min-width: 500px) {
      .simon .simon-blue {
        border-width: 5px 10px 10px 5px; } }
    .simon .simon-blue:focus, .simon .simon-blue.highlight {
      background: #38bcfe; }
  .simon .central-bar {
    width: 100px;
    position: absolute;
    background: #222222;
    top: 205px;
    width: 175px;
    height: 175px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; }
    @media screen and (min-width: 500px) {
      .simon .central-bar {
        top: 245px;
        width: 250px;
        height: 250px; } }
    @media screen and (min-width: 768px) {
      .simon .central-bar {
        top: 294px;
        width: 300px;
        height: 300px; } }
    .simon .central-bar h3 {
      font-family: 'Alfa Slab One', sans-serif;
      padding-bottom: 25px;
      margin: 0;
      width: 100%;
      text-align: center;
      color: #ffffff;
      font-size: 1.3rem; }
      @media screen and (min-width: 500px) {
        .simon .central-bar h3 {
          font-size: 1.75rem; } }
      @media screen and (min-width: 768px) {
        .simon .central-bar h3 {
          font-size: 2.0rem; } }
    .simon .central-bar .controls {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      width: 90%; }
      @media screen and (min-width: 500px) {
        .simon .central-bar .controls {
          width: 100%; } }
      .simon .central-bar .controls .count-container,
      .simon .central-bar .controls .start-btn-container,
      .simon .central-bar .controls .strict-toggle-container {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .simon .central-bar .controls .count-container span,
        .simon .central-bar .controls .start-btn-container span,
        .simon .central-bar .controls .strict-toggle-container span {
          color: #ffffff;
          font-size: 0.85rem; }
          @media screen and (mim-width: 500px) {
            .simon .central-bar .controls .count-container span,
            .simon .central-bar .controls .start-btn-container span,
            .simon .central-bar .controls .strict-toggle-container span {
              font-size: 1.0rem; } }
      .simon .central-bar .controls .count-container .counter {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: #333;
        color: red;
        font-size: 1.0rem;
        border: 1px solid #999;
        border-radius: 4px;
        width: 30px;
        height: 30px; }
        @media screen and (min-width: 500px) {
          .simon .central-bar .controls .count-container .counter {
            height: 35px; } }
        @media screen and (min-width: 768px) {
          .simon .central-bar .controls .count-container .counter {
            height: 45px; } }
      .simon .central-bar .controls .start-btn-container .start-game {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background: red; }
        .simon .central-bar .controls .start-btn-container .start-game:hover {
          cursor: pointer; }
        .simon .central-bar .controls .start-btn-container .start-game[disabled] {
          background: rgba(255, 0, 0, 0.8);
          cursor: default; }
      .simon .central-bar .controls .strict-toggle-container .strict-flex {
        display: flex;
        flex-direction: row;
        align-items: center; }
        .simon .central-bar .controls .strict-toggle-container .strict-flex input[type=checkbox] {
          position: absolute;
          top: -9999px;
          left: -9999px; }
        .simon .central-bar .controls .strict-toggle-container .strict-flex label {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: yellow;
          border: 2px outset buttonface;
          margin: 0; }
          .simon .central-bar .controls .strict-toggle-container .strict-flex label:hover, .simon .central-bar .controls .strict-toggle-container .strict-flex label:focus {
            cursor: pointer; }
        .simon .central-bar .controls .strict-toggle-container .strict-flex .indicator {
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background: black; }
        .simon .central-bar .controls .strict-toggle-container .strict-flex input[type=checkbox]:checked + .indicator {
          background: red; }

/*# sourceMappingURL=style.css.map */
