html,
body {
    font-size: 16px;
    color: $darkText;
}

body {
    background: url('../img/background.jpg');
}

// Buttons
.btn-github {
    background: $github;
    border-color: $githubBorder;
    color: $whiteText;

    &:hover {
        background: $githubShade;
        color: $whiteText;
    }
}

// Button highlight
.highlight {
    box-shadow: 0px 0px 15px red;
}