// Header
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);

    @media screen and (min-width: 500px) {
        flex-direction: row;
        @include paddingX(25px);
    }

    @media screen and (min-width: 768px) {
        @include paddingX(50px);
    }

    h1 {
        @include marginY(5px);
        font-size: 1.75rem;
        text-align: center;

        @media screen and (min-width: 500px) {
            margin-top: 20px;
            margin-bottom: 10px;

            font-size: 2.25rem;
            text-align: left;
        }
    }

    h5 {
        margin-top: 5px;

        @media screen and (min-width: 500px) {
            margin-top: 10px;
        }
        a {
            color: $darkText;

            &:hover,
            &:focus {
                color: $darkText;
            }
        }
    }

    .btn {
        margin-bottom: 5px;

        @media screen and (min-width: 500px) {
            margin-bottom: 0;
        }
    }
}

body > .flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.notifications {
    background: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    text-align: center;
    //display: none;

    @media screen and (min-width: 500px) {
        margin-top: 30px;
    }

    @media screen and (min-width: 768px) {
        margin-top: 50px;
    }

    h2 {
        font-family: 'Alfa Slab One', sans-serif;
        margin: 0;
        @include paddingY(10px);
        font-size: 1.75rem;

        @media screen and (min-width: 500px) {
            @include paddingY(20px);
            font-size: 1.85rem;
        }
    }
}