#simon {
	margin-top: 50px;

	width: 40%;
	max-width: 500px;
	min-width: 300px;

	// Buttons
	.top-buttons,
	.bottom-buttons {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.simon-green,
	.simon-red,
	.simon-yellow,
	.simon-blue {
		border: solid $simonBorder;
		height: 187px;
		max-height: 250px;
		min-height: 150px;

		width: 50%;
		max-width: 250px;
		min-width: 150px;

		&:hover,
		&:focus {
			cursor: pointer;
		}
	}
	
	.simon-green {
		background: $simonGreen;
		border-top-left-radius: 100%;
		border-right-width: 5px;
		border-width: 10px 5px 5px 10px;

		&:hover,
		&:focus,
		&.highlight {
			background: $simonGShade;
		}
	}

	.simon-red {
		background: $simonRed;
		border-top-right-radius: 100%;
		border-width: 10px 10px 5px 5px;

		&:hover,
		&:focus,
		&.highlight {
			background: $simonRShade;
		}
	}

	.simon-yellow {
		background: $simonYellow;
		border-bottom-left-radius: 100%;
		border-width: 5px 5px 10px 10px;

		&:hover,
		&:focus,
		&.highlight {
			background: $simonYShade;
		}
	}

	.simon-blue {
		background: $simonBlue;
		border-bottom-right-radius: 100%;
		border-width: 5px 10px 10px 5px;

		&:hover,
		&:focus,
		&.highlight {
			background: $simonBShade;
		}
	}

	.central-bar {
		display: flex;
		flex-direction: column;
		align-items: center;

		h3 {
			font-family: 'Alfa Slab One', sans-serif;
			@include paddingY(5px);
			margin: 0;
			width: 75%;
			text-align: center;
			background: $simonBorder;
			color: $whiteText;
		}

		.controls {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			width: 75%;
			background: $simonBorder;

			.count-container,
			.start-btn-container,
			.strict-toggle-container {
				display: flex;
				flex-direction: column;
				align-items: center;

				span {
					color: $whiteText;
				}
			}

			.count-container {
				.counter {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					background: #333;
					color: red;
					font-size: 1.0rem;
					border: 1px solid #999;
					border-radius: 4px;
					width: 30px;
					height: 45px;
				}
			}

			.start-btn-container {
				#start-game {
					border-radius: 50%;
					width: 30px;
					height: 30px;
					background: red;
					box-shadow: 0px 0px 5px white;

					&:hover {
						cursor: pointer;
					}
				}
			}

			.strict-toggle-container {
				.strict-flex {
					display: flex;
					flex-direction: row;
					align-items: center;
					
					input[type=checkbox] {
						position: absolute;
						top: -9999px;
						left: -9999px;
					}

					label {
						width: 30px;
						height: 30px;
						border-radius: 50%;
						background: yellow;
						box-shadow: 0px 0px 5px white;
						margin-right: 2px;
					}

					.indicator {
						width: 5px;
						height: 5px;
						border-radius: 50%;
						background: black;
						margin-left: 2px;
					}

					input[type=checkbox]:checked + label + .indicator {
						background: red;
					}
				}
			}
		}
	}
}