$simonBorder: 	#222222;

$whiteText:     #ffffff;
$darkText:      #333333;

// Buttons
$github:        #333333;
$githubShade:   #222222;
$githubBorder:  #111111;

// Simon Button Colours
$simonGreen:	#49d759;
$simonRed:		#f6321a;
$simonYellow: 	#fff732;
$simonBlue: 	#019be9;

$simonGShade:	lighten($simonGreen, 15%);
$simonRShade:	lighten($simonRed, 15%);
$simonYShade:	lighten($simonYellow, 15%);
$simonBShade:	lighten($simonBlue, 15%);

// Control panel colours
$startButton:	#fffb2c;
$startBtnDis:	#939393;
$strictOff:		#c9302c;
$strictOn:		#449d44;